@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag:none;
  -webkit-app-region:none;
}

body{
  background-color: #FF7BAD;
  display: grid;
  place-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  height: 100vh;
}

.container{
  height: 70vh;
  width: 60vh;
  background-color:#919FBC;
  border-radius:4rem;
  padding: 2rem;
  border-color: #4F2164;
  border-style:solid;
  -webkit-box-shadow: 10px 10px 7px 0px rgba(50,50,50,0.75);
  -moz-box-shadow: 10px 10px 7px 0px rgba(50,50,50,0.75);
  box-shadow: 10px 10px 7px 0px rgba(50,50,50,0.75);
}

.wrapper{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  gap:10px;
}
.screen{
  grid-column: 1/ -1;
  color: white;
  text-align:right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}
.input_container{
  height:90%;
  border-style: solid;
  margin:1% 1% 1% 1%;
  border-color: #4F2164;
  border-radius:1.5rem;
  font-size: 3.8rem;
}
.btn{
  border-style: solid;
  border-color:black ;
  display: grid;
  place-content: center;
  background-color:white;
  border-radius:20%;
  margin: 0.5rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover{
  background-color: gray;
}

.light-gray{
  background-color: white;
  color: black;
}

.light-gray:hover{
  background-color: white;
}

.orange{
  background-color: orange;
}

.orange:hover{
  background-color: white;
  color: orange;
}

/* .zero{
  grid-column:1/ span 2;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left:2rem;
} */